@inject NavigationManager NavManager 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Müük
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="valmiskaubalaod"
                           @onclick="@(() => NavManager.NavigateTo("valmiskaubalaod", true))">Valmiskaubalaod</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="tellimused">Müügitellimused</a>
                        <a class="dropdown-item disabled">Müügitagastused</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="arved"
                           @onclick="@(() => NavManager.NavigateTo("arved", true))">Müügiarved</a>
                        <a class="dropdown-item" href="kreeditarved"
                           @onclick="@(() => NavManager.NavigateTo("kreeditarved", true))">Kreedit-arved</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="laovastuvotulehed">Vastuvõtulehed</a>
                        <a class="dropdown-item" href="laosaatelehed">Saatelehed</a>
                        @*<div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled">Paranduskanded</a>*@
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Ost
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item disabled">Ostutellimused</a>
                        <a class="dropdown-item disabled">Ostutagastused</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="ostutarned">Ostutarned</a>
                        <a class="dropdown-item" href="ostulahetused">Ostulähetused</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="allhanketarned">Allhanke tarned</a>
                        <a class="dropdown-item" href="allhankelahetused">Allhanke lähetused</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Komisjonimüük
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="komisjonilaod"
                           @onclick="@(() => NavManager.NavigateTo("komisjonilaod", true))">Komisjonilaod</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled">Müügitellimused</a>
                        <a class="dropdown-item disabled">Müügitagastused</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled">Müügiarved</a>
                        <a class="dropdown-item disabled">Kreedit-arved</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled">Laotellimused</a>
                        <a class="dropdown-item disabled">Laotagastused</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled">Vastuvõtulehed</a>
                        <a class="dropdown-item disabled">Saatelehed</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Poed
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item disabled">Poelaod</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled">Laotellimused</a>
                        <a class="dropdown-item disabled">Laotagastused</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled">Vastuvõtulehed</a>
                        <a class="dropdown-item disabled">Saatelehed</a>
                    </div>
                </div>
            </li>
            @*<li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Valmiskaubahaldus
                    </button>
                    <div class="dropdown-menu">
                        
                    </div>
                </div>
            </li>*@
            <li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Püsiandmed
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="kliendid">Firmad</a>
                        <a class="dropdown-item" href="tooted">Tooted</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Tootmine
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item disabled">Tootmistellimus</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
