@page "/customers/list"
@inject IServiceProvider ServiceProvider
@inject AppState AppState 

<div class="d-flex justify-content-between bg-light border-bottom px-4 py-2 mb-4">
    <h3 class="align-self-center m-0">Kliendid</h3>
    <div>

    </div>
</div>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-7">
            <NavLink class="btn btn-primary" href="/customers/add">Lisa uus klient</NavLink>
        </div>
        <div class="col-md-5 input-group text-md-right">
            <input class="form-control" type="text" placeholder="Kliendi nimi" @bind="options.SearchString" @onkeyup="SearchBoxKeyPress" />
            <div class="input-group-btn">
                <button class="btn btn-default" @onclick="SearchClick">
                    <i class="oi oi-magnifying-glass" title="search" />
                </button>
            </div>
            <div class="input-group-btn" @onclick="ClearSearch">
                <button class="btn btn-default">
                    <i class="oi oi-x" title="clear" />
                </button>
            </div>
        </div>
    </div>

    @if (pagedCustomers?.List == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Nimi</th>
                    <th>Riik</th>
                    <th>Linn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in pagedCustomers.List)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.PayerAddress.Country.Name</td>
                        <td>@customer.PayerAddress.City</td>
                        <td>
                            <NavLink class="btn btn-dark btn-sm" href="@GetUrl(customer.Id)">
                                <i class="oi oi-eye text-white" /> Vaata
                            </NavLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Pager Result="pagedCustomers" PageChanged="PagerPageChanged" />
    }

</div>


@code {
    private PagedList<Customer> pagedCustomers;
    private CustomerListOptions options = new CustomerListOptions { PageSize = 11, CurrentPage = 1 };

    protected override void OnParametersSet()
    {
        if (AppState.BackToCustomerList)
        {
            AppState.BackToCustomerList = false;

            if (AppState.CustomerListOptions != null)
                options = AppState.CustomerListOptions;
        }

        UpdateList();
    }

    #region Helpers
    private void UpdateList()
    {
        AppState.CustomerListOptions = options;

        var service = ServiceProvider.GetService<ICustomerListService>();
        pagedCustomers = service.FilterPage(options);
    }

    string GetUrl(int id) => $"/customers/{id}";
    #endregion

    #region event handlers
    private void SearchBoxKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchClick();
        }
    }

    private void SearchClick()
    {
        options.CurrentPage = 1;
        UpdateList();
        StateHasChanged();
    }

    private void ClearSearch()
    {
        options.SearchString = string.Empty;
        SearchClick();
    }

    private void PagerPageChanged(int currentPage)
    {
        options.CurrentPage = currentPage;
        UpdateList();
        StateHasChanged();
    }
    #endregion
}
