<div class="container-fluid p-0">
    <div class="text-right my-2 p-2" style="background-color: lightblue">
        <button type="button" class="btn btn-warning" disabled>Muuda</button>
    </div>

    <div class="row">
        <div class="col p-3 text-center">
            <h5>Toote grupeerimine</h5>
        </div>
        <div class="col p-3 text-center">
            <h5>Toote pilt, kood ja nimi</h5>
        </div>
        <div class="col p-3 text-center">
            <h5>Kommentaarid</h5>
        </div>
    </div>
</div>


@code {

}
