<div class="p-3 bg-light mb-2">
    <button type="button" class="close" 
            @onclick="@(() => ProductInfoRemoved.InvokeAsync(ProductInfo))">
        X
    </button>
    <h4 class="text-center mb-2">@ProductInfo.ProductCode</h4>

    <ul class="list-group">
        @foreach (var stock in ProductInfo.Inventory)
        {
            <li class="list-group-item d-flex">
                <div class="mr-auto">@stock.Warehouse</div>
                <div class="ml-auto">@stock.Quantity</div>
            </li>
        }
    </ul>
</div>


@code {
    [Parameter] public ProductInfo ProductInfo { get; set; }

    [Parameter] public EventCallback<ProductInfo> ProductInfoRemoved { get; set; }
}
