@page "/tooted/{id:int}"
@page "/tooted/uus"

<div class="main">
    <nav class="navbar navbar-light bg-secondary">
        <span class="navbar-brand mb-0 h1">Toode: @Id</span>
        <div>
            <NavLink class="btn btn-primary" href="/tooted/return">Tagasi</NavLink>
        </div>
    </nav>
</div>


@code {
    [Parameter] public int Id { get; set; }
}
