@page "/"

<div class="main">
    <div class="text-center">
        <h1>Hello, world!</h1>

        Welcome to your new app's dashboard.
    </div>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
