@typeparam TItem

<div class="table-scroll @CSSClass">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                @TableHeader
            </tr>
        </thead>
        <tbody class="bg-white">
            @foreach (var item in Items)
            {
                <tr>
                    @RowTemplate(item)
                </tr>
            }
        </tbody>
        <tfoot class="bg-light">
            <tr>
                @TableFooter
            </tr>
        </tfoot>
    </table>
</div>

@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }

    [Parameter]
    public RenderFragment TableFooter { get; set; }

    [Parameter]
    public IList<TItem> Items { get; set; }

    [Parameter]
    public string CSSClass { get; set; }
}
